
.farm-field {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  flex-wrap: wrap;
  display: flex;
}

.block {
  margin: 0 auto; 
  transition: all .1s ease-in-out;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
}

.hud {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}

.farm-settings {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 10px;
  border-radius: 9px;
  text-align: right;
  font-style: italic;
  font-weight: bold;
  opacity: 1;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.items {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  width: 12%;
  background-color: #AEE7FF;
  color: black;
  z-index: 1;
  border-radius: 3px;
}

.item {
  font-size: 22px;
  width: 100%;
  height: auto;
  transition: all .1s ease-in-out;
  margin: 10px 0px;

}

.selected-block {
  box-shadow: 0 0 10px  rgb(255, 0, 242) !important;
  transition: all .1s ease-in-out;
  transform: scale(1.2); 
  cursor: pointer;
}

.selected-block-other {
  box-shadow: 0 0 10px  white !important;
  transition: all .1s ease-in-out;
  transform: scale(1.2); 
  cursor: pointer;
}

.crops {
  display: none;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
  width: 15%;
  background-color: #AEE7FF;
  color: black;
  z-index: 1;
  border-radius: 3px;
}

.crop {
  font-size: 22px;
  width: 80%;
  height: auto;
  transition: all .1s ease-in-out;
  margin: 10px 10px 10px 0px;

}

.buttons {
  position: fixed;
  bottom: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  z-index: 5000;
  align-content: flex-end;
  align-items: flex-end;
  text-align: right;
}

.buttons img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  vertical-align: middle;
}

.buttons p {
  margin: 10px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-style: italic;
  font-weight: 400;
}
.exp-div {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.exp-div div {
  display: flex;
  flex-direction: row;
}

.exp-div progress {
  margin: 3px 10px;
}

.exp-div progress[value] {
  height: 20px;
}

.exp-div a {
  font-size: 20px;
}