/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 0;
  color: white;
  text-align:center;
  user-select: none;
  font-size: 20px;
  overflow:hidden;
}
main {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: darkgreen;
}

nav {
  width: 100%;
}

.bold {
  font-weight: bold;
}

.noti-box {
  display: none; 
  position: fixed; 
  z-index: 10000;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: auto;
  position: fixed;
  background-color:rgba(220, 20, 60, .5);
  border-radius: 9px;
  transition: all .2s ease-in-out;
}

.noti-content {
  padding: 10px;
  border-radius: 9px;
  text-align: center;
  transition: all .2s ease-in-out;
}

.noti-content p {
  margin: 10px;
  font-size: 25px;
  font-style: italic;
  line-height: 25px;
}

.startup-div {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  z-index: 10;
}
input {
  font-style: italic;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 200px;
  background-color: #AEE7FF;
  border: 1px solid rgb(150, 224, 255);
  font-size: 16px;
  outline-color:#90CF6A;
  transition: all .2s ease-in-out;
}

form {
  margin-bottom: 10px;
  padding: 15px;
  display: inline-block;
  width: auto;
  max-width: 340px;
  border-radius: 3px;
  text-align: left;
}

button {
  font-size: 16px;
  border-radius: 3px;
  width: 150px;
  height: 50px;
  cursor: pointer;
  background-color: #90CF6A;
  border: 1px solid rgb(121, 209, 67);
  font-family: 'ZCOOL KuaiLe', cursive;
  transition: all .2s ease-in-out;
}

button:hover {
  border: 1px solid rgb(174, 231, 255);
}

button:active {
  box-shadow: none;
}

.selected-item {
  transition: all .2s ease-in-out;
  border: 2px solid black;
}

.selected-crop {
  transition: all .2s ease-in-out;
  border: 2px solid black;
}
